<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .scam {
            color: red;
        }

        .danger-words {
            color: red;
        }

        .safe {
            color: green;
        }
    </style>
    <title>Results Page</title>
</head>

<body>
    <div class="container mt-5">
        <h1>Message Analysis Results</h1>
        <% if(result[1]> 0.3){ %>
            <p class="scam">Scam Probability: <%= (result[1] * 100).toFixed(2) %> %</p>
            <div class="mt-4">
                <h2>Danger Words:</h2>
                <% for (let word of danger) { %>
                    <p class="danger-words">
                        <%= word %>
                    </p>
                    <% } %>
            </div>
            <%}else{%>
                <h2>Likely not a scam!</h2>
                <p class="safe">Scam Probaility: <%= (result[1] * 100).toFixed(2) %> %</p>
                <%}%>

    </div>
</body>

</html>